.about_container{
    margin-top: 160px;
}



.text_container{

    font-size: 32px;
      
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    /* background-color: rgba(255,0,255,0.5); */
  
    /* width: calc(100% - 60px); */
    margin-left: 60px;
    width: calc(100% - 120px);
    margin-bottom: 80px;

  }
  

  .tc24class:hover{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
  }
    
  .about_title{
    grid-column: 1 / 5;
    /* background-color: pink; */
  }


  .about_content{
    grid-column: 5 / 13;
    /* background-color: yellow; */
    max-width: 800px;
  }

  .about_content div{
    margin-bottom: 2px;
  }

  .li{
    
    display: inline-block;
  }


  .copyright{
    margin-top: 400px;
    margin-bottom: 80px;
  }



  @media only screen and (max-width: 1080px) {
        
    .about_title{
      grid-column: 1 / 13;
      margin-bottom: 32px;
    }


    .about_content{
      grid-column: 1 / 13;
    }

  }
  
  
  
  @media only screen and (max-width: 810px) {
              
  .text_container{
    margin-left: 40px;
    width: calc(100% - 80px);
  }     
  
  }