.landing_title{
    font-size: 90px;
    letter-spacing: -2.5px;
    line-height: 1.0;
}

.kern{
    transform: translateX(-11.5px);
}


.landing_container{
    width: 100vw;
    height: 90vh;
}

.intro_container{
    position: absolute;
    top: calc(50% - 200px);
    left: 60px;
}

.card_container{
    padding-left: 60px;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-bottom: 180px;
}




@media only screen and (max-width: 1080px) {
               
    .landing_title{
        font-size: 90px;
    }  

}



@media only screen and (max-width: 810px) {
             
    .landing_title{
        font-size: 65px;
    }

    .kern{
        transform: translateX(-10.5px);
    }

    .intro_container{
        left: 40px;
    }
        
    .card_container{
        padding-left: 40px;
    }


}
